.btn:hover{
    
    -fx-background-color: #A7393C;
     -fx-text-fill: FFFFFF;
}
.btn{

    -fx-background-color: transparent;
}

.btn_Close{
    -fx-background-color: transparent;
}

.btn_Close:hover{
    
    -fx-background-color: D11C29;
    -fx-text-fill: FFFFFF;
}

.TextField{
    -fx-text-fill: FFFFFF;
}